/*Nav*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
    /* position: fixed;
    width: 100%; */
  }

.nav h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 1.5rem;
    color: wheat;
}

.nav ul{
    padding: 0;
}

.nav li{
    list-style-type: none;
    float:left;
    padding: 5px;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    transform:  scale(1.1);
    color: wheat;
}